*{
    margin: 0;
    padding: 0;
}
body, html{
    width: 100%;
    height: 100%;
}
img{
    width: 200px;
}
#header1{
    font-size: 40px;
}
.header{
    font-size: 25px;
    font-weight: normal;
    text-align: center;
}
#div_h1{
    background-color: aqua;
    margin: 0px 0px 25px 0px;
}
#div_h2{
    width: 100%;
    height: 100%;
    background-color: rgb(123, 105, 235);
}
table{
    margin: auto;
}
.div_table{
    margin: 10px 35px;
    text-align: center;
    width: 200px;
}
#div_table2{
    padding: 10px;
    background-color: white;
}
#div_table3{
    padding: 10px;
    background-color: white;
}